.u-section-1 .u-sheet-1 {
  min-height: 950px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 439px;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  margin: 20px 100px 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 475px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 1px 0 0;
}

.u-section-1 .u-text-3 {
  margin: 71px auto 0 10px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -31px auto 0 175px;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 223px 0 auto;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -42px 99px 0 auto;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-text-4 {
  margin: 61px auto 0 10px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -31px auto 0 130px;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  font-family: Roboto, sans-serif;
  background-image: none;
  font-weight: 700;
  margin: -42px 235px 0 auto;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -42px 38px 0 auto;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-text-5 {
  margin: 64px auto 0 10px;
}

.u-section-1 .u-btn-7 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -34px auto 0 120px;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-btn-8 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -48px auto 0 255px;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-btn-9 {
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: -48px 121px 0 auto;
  padding: 10px 23px 10px 21px;
}

.u-section-1 .u-btn-10 {
  border-style: none;
  font-weight: 700;
  font-size: 1rem;
  background-image: none;
  margin: 61px auto 0;
  padding: 8px 33px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 535px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-6 {
  margin: 20px auto 0 23px;
}

.u-section-1 .u-shape-1 {
  width: 467px;
  height: 464px;
  margin: 0 auto;
}

.u-section-1 .u-text-7 {
  font-weight: 400;
  margin: -441px auto 0 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 362px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 392px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 65px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 113px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 20px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 125px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-7 {
    margin-left: 10px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 145px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 11px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 441px;
  }

  .u-section-1 .u-shape-1 {
    width: 423px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 352px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 4px;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 24px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-shape-1 {
    width: 324px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 576px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-8 {
    margin-left: 0;
  }
}